<!DOCTYPE html>
<html lang="pt_BR">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="/assets/favicon.ico">
        <title>TheTheTank</title>
        <link rel="stylesheet" href="/assets/style.css" ">
    </head>
    <a href="/assets/char.png"></a>
    <body>
		<main class="containner">
            <figure class="title">
                <img class="head" src="/assets/thetank.png" alt="head">
            </figure>
            <figure class="avatar">
                <img class="hand" src="/assets/char.png" alt="hand">
            </figure>
        </main>
        <STYLE type="text/css">
            BODY {
                background-image: url('/assets/bg1.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover; backdrop-filter: blur(7px);
            }
        </STYLE>
        <div class="box">
            <form autocomplete="on">
                <h2>Bem vindo ao TheTheTank</h2>
                <div class="inputBox">
                    <input type="text" required="required">
                    <span>Login</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input type="password" required="required">
                    <span>Senha</span>
                    <i></i>
                </div>
                <div class="links">
                    <a href="/template/pwd.html">Esqueceu a senha ?</a>
                    <a href="/template/signup.html">Inscreva-se</a>
                </div>
                <input type="submit" value="Login">
            </form>
        </div>
    </body>

</html>
