<!DOCTYPE html>
<html lang="pt_BR">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="/assets/favicon.ico">
	<title>TheTheTank Recuperação de Senha</title>
	<link rel="stylesheet" href="/assets/pwd.css">
</head>
<body>
	<main class="containner">
		<figure class="title">
			<img class="head" src="/assets/thetank.png" alt="head">
		</figure>
	</main>
<STYLE TYPE="text/css">
	BODY {background-image: url(/assets/bg3.png); background-repeat: no-repeat; background-position: center;background-size: cover; backdrop-filter: blur(7px);} 
</STYLE>
	<div class="box">
		<form autocomplete="on">
			<h2>Recuperação de Senha</h2>
			<div class="inputBox">
				<input type="text" required="required" >
				<span>Usuario</span>
				<i></i>
			</div>
			<div class="inputBox">
				<input type="password" required="required">
				<span>Nova senha</span>
				<i></i>
			</div>
			<input type="submit" value="Pronto">
		</form>
	</div>
</body>
</html>