<!DOCTYPE html>
<html lang="pt_BR">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="/assets/favicon.ico">
	<title>TheTheTank inscrição</title>
	<link rel="stylesheet" href="/assets/signup.css">
</head>
<body>
	<main class="containner">
		<figure class="title">
			<img class="head" src="/assets/thetank.png" alt="head">
		</figure>
	</main>
<STYLE TYPE="text/css">
	BODY {background-image: url(/assets/wallpaper.jpg); background-repeat: no-repeat; background-position: center;background-size: cover; backdrop-filter: blur(7px);} 
</STYLE>
	<div class="box">
		<form autocomplete="on">
			<h2>Inscreva-se</h2>
			<div class="inputBox">
				<input type="text" required="required">
				<span>Usuario</span>
				<i></i>
			</div>
			<div class="inputBox">
				<input type="password" required="required">
				<span>Senha</span>
				<i></i>
			</div>
			<div class="inputBox">
				<input type="email" required="required">
				<span>Email</span>
				<i></i>
			</div>
			<div class="inputBox">
				<input type="text" required="required">
				<span>Nick do Servidor</span>
				<i></i>
			</div>
			<div class="inputBox">
				<input type="text" required="required">
				<span>Sexo do personagem</span>
				<i><label class="labels active" style="color:rgba(0, 0, 0, 0.397)" style="text-align: center;" >Masculino ou Feminino</label></i>
			</div>
			
			<input type="submit"  value="PRONTO">
			
		</form>
	</div>
</body>
</html>